.points {
    border: 1px solid #000;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 0.5fr 1fr;

    padding: 8px;
}

.points h3 {
    margin: 0;
    grid-column: span 2;
}

.points div {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    align-items: center;
    padding: 0.25rem;
}

.points div:nth-child(2) {
    border-radius: 10px 0 0 10px;
}

.points div:nth-child(3) {
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.points span {
    font-size: 24px;
}

.points input {
    width: 25%;
    font-size: 24px;
    border-radius: 5px;
}